@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Tests";
}
@using LMS.Models
@model IEnumerable<PatientTest>

<h2>Tests</h2>
<p>
    @Html.ActionLink("New Test", "CreateTest", "Test", new { Path = "Id" }, new { @class = "btn btn-primary" })
</p>

<h4>List of Tests Performed in this clinic.</h4>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Test Id</th>
            <th>Test Name</th>
            <th>Department</th>
            <th>Edit</th>
            <th>Delete</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
        <tr>
            <td><a asp-controller="Test" asp-action="TestDetails" asp-route-Id="@test.TestId">@test.TestId</a></td>
            <td>@test.TestName</td>
            <td>@test.Department.Department</td>
         
            <td><a asp-controller="Test" asp-action="EditTest" asp-route-Id="@test.TestId">Edit</a></td>
            <td><a asp-controller="Test" asp-action="RemoveTest" asp-route-Id="@test.TestId">Delete</a></td>

        </tr>
        }
    </tbody>
</table>

