@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Test details";
}

@using LMS.Models
@model IEnumerable<PatientTest>


<div class="container marginTop">
    <div class="row">
        @*<div class="text-center view overlay hm-white-slight">
                <img src="@Model.ImageUrl" class="img-fluid" alt="" />
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>*@
        <div class="glyphicon-credit-card">

            <div class="card-block">

                @foreach (var item in Model)
                {

                    <h4 class="card-title py-4">@item.patients.Fullname</h4>
                    <ul>
                        <li> <p class="card-text py-2"><span> <b>Age: </b></span> @item.patients.Age</p> </li>

                        <li> <p class="card-text py-2"><span> <b>Physician: </b></span> @item.patients.Physician</p> </li>
                        <li> <p class="card-text py-2"><span> <b>Clinical diagnosis: </b></span> @item.patients.ClinicalDiagnosis</p> </li>
                        @*<li> <p class="card-text py-2"><span> <b>Department: </b></span> @item.patients.Department</p> </li>*@
                        <li> <p class="card-text py-2"><span> <b>Date of request: </b></span> @item.patients.DateOfRequest</p> </li>
                        <li> <p class="card-text py-2"><span> <b>Lab Number: </b></span> @item.patients.ClinicNo</p> </li>
                    </ul>
                }


                <p class="btn btn-group pull-right">
                    <a asp-controller="Test" asp-action="Index" class="btn btn-success">Show all Tests</a>
                    <a class="btn btn-success" id="cartButton" asp-controller="Test" asp-action="EditTest">Edit details</a>
                </p>
            </div>
        </div>
    </div>
</div>

